#!/bin/bash

if [ $# -ne 1 ]; then
 echo "Error!!! input parameters is error"
 echo "Usage $0 PROD/UAT/DEV"
 exit!!!
fi

ENV_MOD=$1

if [ $ENV_MOD = "PROD" ]; then
MYSQL_HOST=106.75.28.62
MYSQL_USER=loaddata
OS_USER=loaddata
MYSQL_PASSWD=loaddataloaddata
MYSQL_HOME=/data/server/bin/mysql-5.7.13/bin
MYSQL_PORT=6868
MYSQL_LOGIN="$MYSQL_HOME/mysql -u$MYSQL_USER -p$MYSQL_PASSWD -h$MYSQL_HOST -P$MYSQL_PORT"
MYSQL_DB=rms
elif [ $ENV_MOD = "UAT" ]; then
MYSQL_HOST=106.75.28.62
MYSQL_USER=loaddata
OS_USER=loaddata
MYSQL_PASSWD=loaddataloaddata
MYSQL_HOME=/data/server/bin/mysql-5.7.13/bin
MYSQL_PORT=6869
MYSQL_LOGIN="$MYSQL_HOME/mysql -u$MYSQL_USER -p$MYSQL_PASSWD -h$MYSQL_HOST -P$MYSQL_PORT"
MYSQL_DB=rms
elif [ $ENV_MOD = "UAT" ]; then
MYSQL_HOST=106.75.28.62
MYSQL_USER=loaddata
OS_USER=loaddata
MYSQL_PASSWD=loaddataloaddata
MYSQL_HOME=/data/server/bin/mysql-5.7.13/bin
MYSQL_PORT=6869
MYSQL_LOGIN="$MYSQL_HOME/mysql -u$MYSQL_USER -p$MYSQL_PASSWD -h$MYSQL_HOST -P$MYSQL_PORT"
MYSQL_DB=rms
elif [ $ENV_MOD = "DEV" ]; then
MYSQL_HOST=106.75.28.62
MYSQL_USER=loaddata
OS_USER=loaddata
MYSQL_PASSWD=loaddataloaddata
MYSQL_HOME=/data/server/bin/mysql-5.7.13/bin
MYSQL_PORT=6869
MYSQL_LOGIN="$MYSQL_HOME/mysql -u$MYSQL_USER -p$MYSQL_PASSWD -h$MYSQL_HOST -P$MYSQL_PORT"
MYSQL_DB=loaddata
elif [ $ENV_MOD = "TEST" ]; then
MYSQL_HOST=192.168.20.209
MYSQL_USER=loaddata
OS_USER=loaddata
MYSQL_PASSWD=loaddata12347890
MYSQL_HOME=/data/server/bin/mysql-5.7.13/bin
MYSQL_PORT=3306
MYSQL_LOGIN="$MYSQL_HOME/mysql -u$MYSQL_USER -p$MYSQL_PASSWD -h$MYSQL_HOST -P$MYSQL_PORT"
MYSQL_DB=rms
fi


export MYSQL_HOST MYSQL_USER OS_USER MYSQL_PASSWD MYSQL_HOME MYSQL_PORT MYSQL_LOGIN MYSQL_DB

